form {
    width: 100%;
    max-width: 400px;
    text-align: center;
    border: solid 1px #15F38E;
    padding-bottom: 10px;
    margin: auto;
    background: #C715F3;
  }
  input[type=textfield] {
      width: 75%;
      padding: 16px 32px;
      font-size: 16px;
      margin: 8px 0;
      border: 1px solid #AE1BF2;
      border-radius: 1px;
      text-align: left;
      color: #010101;
      background: 15F3C7;
  }
  input[type=button], input[type=submit], input[type=reset] {
      background-color: #ff0080;
      border: none;
      color: #010101;
      padding: 16px 32px;
      font-size: 16px;
      min-width: 21%;
      text-decoration: none;
      margin: 4px 2px;
      cursor: pointer;
  }
  input[type=button]:hover, input[type=submit]:hover, input[type=reset]:hover {
    background-color: #1BF2CE;
  }